@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Skranji&family=Staatliches&display=swap");
.date {
  font-size: 1.25rem;
  font-family: "Kaushan Script", cursive;
  color: #ffffffba;
}
.orderprice {
  font-family: "Staatliches", cursive;
  font-size: 1.25rem;
}
