@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Signika+Negative:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:ital,wght@0,400;1,300&family=Signika+Negative:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Staatliches&display=swap");

.titleprod {
  text-transform: capitalize;
  font-family: "Staatliches", cursive;
  font-size: 1.75rem;
}
.companyNameprod {
  font-family: "Signika Negative", sans-serif;
  color: #616263;
  font-size: 2.5vh;
  margin-bottom: 1.5vh;
  font-weight: 900;
  text-transform: capitalize;
}
/* .quantityhead {
  /* margin: 1rem; */
/* font-size: 1.25rem;
  margin-right: 1rem; */
/* font-weight: 600; */
/* display: inline-block;
  font-family: "Signika Negative", sans-serif; */
/* }  */

.billheader {
  font-family: "Staatliches", cursive;
  font-size: 20%;
  /* text-transform: capitalize; */
}
.priceprod {
  font-family: "Staatliches", cursive;
  font-size: 3vh;
  margin-bottom: 1.5vh;
}
