@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

.icondiv:hover {
  border-radius: 50%;
  background: #e6e4e4b5;
}

.title {
  font-family: "Do Hyeon", sans-serif;
  font-size: 1.25rem;
}
